body {
        background-color: rgb(20, 25, 30)
}

#title {
        color:  rgb(255, 255, 255);
        text-align: center;
}

#p1 {
        color:  rgb(255, 255, 255);
        text-align: center;
        font-size: 15px;
}

#p2 {
        color:  rgb(255, 255, 255);
        text-align: center;
        font-size: 15px;
}

#p3 {
        color:  rgb(255, 255, 255);
        text-align: center;
        font-size: 15px;
}

#cover {
        display: block;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
}