body {
        background-color: gray;
}

#background {
        background-color: white;
        width: 500px;
        height: 300px;
}

#center {
        background-color: red;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
}