body {
    background-color: gray;
}

div{
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    border-width: 10px;
    border-color: black;
    border-style: dotted;
    border-top-color: transparent;
}

.red {
    background-color: red;
    padding-left: 20px;
    width: 280px;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}