body {
        background-color: rgb(20, 23, 30);
        color: #ffffff
}

#infobar {
        width: 100%;
        height: 5%;
        background: rgba(50, 60, 70, 255);
        color: white;
        height: 100%;
        width: 13%;
        padding: 10px;
        position: fixed;
        box-sizing: border-box;
        text-align: left;
}

#Limage {
        width: 20%;
        height: auto;
        margin-left: 78%;
        position: fixed;
}

h1 {
        padding-right: 25%;
        padding-left: 15%; 
        margin-top: 0%;
}

h2 {
        padding-right: 25%;
        padding-left: 15%;
}

p {
        padding-right: 25%;
        padding-left: 15%;
        font-size: 15px;
}

